.link {
	color: red;
	border: 1px solid red;
	width: 500px;
}
.Klasa1 {
	color: red;
	border: 1px solid red;
	width: 500px;
}
.Heading1 {
	
	color: red;
	border: 1px solid red;
	width: 500px;
}
h2 {
	color: red;
	border: 1px solid red;
	width: 500px;
}
#strona {
	width: 1000px;
	height: 1000px;
}